name: Release

on:
    push:
        branches: ["master"]
        tags:
            - v*

permissions:
    contents: write

jobs:
    build:
        name: Build and Test on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.x"
            - name: Install dependencies
              run: python -m pip install meson ninja pytest
            - name: Configure Project
              run: meson setup --wrap-mode=forcefallback -Denable-tests=true -Dbuildtype=release builddir/
              env:
                  CC: g++
            - name: Build Project
              run: meson compile -C builddir/
            - name: Run Tests
              run: meson test -C builddir/ -v
            - name: Package Executables
              run: |
                  mkdir -p release-${{ matrix.os }}
                  cp builddir/src/bin/cpplox builddir/src/bin/loxcrc builddir/src/bin/loxdump builddir/src/bin/loxvm release-${{ matrix.os }}/
                  cd release-${{ matrix.os }} && zip -r ../cpp-lox-${{ matrix.os }}.zip * && cd ..
            - name: Upload Artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: cpp-lox-${{ matrix.os }}
                  path: cpp-lox-${{ matrix.os }}.zip

    release:
        name: Create Release
        runs-on: ubuntu-24.04
        needs: build
        if: startsWith(github.ref, 'refs/tags/')
        steps:
            - name: Download Artifacts
              uses: actions/download-artifact@v4
            - name: Create Release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  tag: ${{ github.ref_name }}
              run: |
                  gh release create "$tag" \
                      --repo="$GITHUB_REPOSITORY" \
                      --title="${GITHUB_REPOSITORY#*/} ${tag#v}" \
                      --generate-notes \
                      cpp-lox-*/*.zip

# https://stackoverflow.com/questions/75679683
