name: CI

on:
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]

jobs:
    build:
        name: Build and Test on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.x"
            - name: Install dependencies
              run: python -m pip install meson ninja pytest
            - name: Install fmt (using wrap)
              run: meson wrap install fmt
            - name: Install google-benchmark (using wrap)
              run: meson wrap install google-benchmark
            - name: Configure Project
              run: meson setup -Denable-tests=true builddir/
              env:
                  CC: g++
            - name: Run Tests
              run: meson test -C builddir/ -v
            - name: Upload Test Log
              uses: actions/upload-artifact@v4
              if: failure()
              with:
                  name: ${{ matrix.os }}_Meson_Testlog
                  path: builddir/meson-logs/testlog.txt